.sub--title1{
    font-family: 'roboto-regular';
    font-size: 1.5rem;
    text-align: center;
    color: $paragrapheTitleColor;
    margin: 20px;
}

.sub--title2{
    font-family: 'roboto-regular';
    font-size: 1.4rem;
    text-align: center;
    color: $paragrapheTitleColor;
    margin: 20px;
}

//for large screens
.skills{
    background: -webkit-linear-gradient(45deg, $mainColor 46%, $accordingColor 0%);
    padding: 20px 100px 70px;
    .skills__flex-box{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        .flex-box__speak{
            width: 50%;
            height: 100%;
            padding: 15px;
            margin-right: 10px;
            background-color: $mainColor;
            box-shadow: 0 0 10px $accordingColor;
            border-radius: 20px;
            // animation: speak 1s;
            .sub--title1{
                margin-bottom: 30px;
            }
            p{
                font-family: 'roboto-regular';
                font-size: 1rem;
            }
            .progress-bar-container{
                width: 100%;
                height: auto;
                margin: 10px 0;
                background-color: $paragrapheTitleColor;
                border-radius: 20px;
                transition: 30s;
                .progress-content{
                    display: flex;
                    justify-content: center;
                    font-family: 'roboto-regular';
                    background-color: $decorationColor;
                    font-weight: bold;
                    font-size: 0.8rem;
                    border-radius: 20px;
                    width:50%;
                    height: auto;
                }
            }
        }
        .flex-box__tech-skills{
            width: 50%;
            padding: 15px;
            border-radius: 20px;
            background-color: $mainColor;
            box-shadow: 0 0 10px $accordingColor;
            .sub--title1{
                margin-bottom: 30px;
            }
            .tech-skills__grid{
                font-family: 'roboto-regular';
                font-size: 1.11rem;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 10px;
                .grid__skills-container{
                    // padding: 15px;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    background-color: $mainColor;
                    display: flex;
                    box-shadow: 0 0 10px $accordingColor;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .skills-container__round-container{
                        background-color: $accordingColor;
                        border-radius: 50%;
                        width: 150px;
                        height: 150px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        img{
                            width: 100px;
                            height: 100px;
                        }
                    }
                    .skills-container__description{
                        text-align: center;
                        color: $paragrapheTitleColor;
                        p{
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}

// for small screens
@media screen and (max-width:934px){
    .sub--title1{
        font-size: 1rem;
    }
    .skills{
        padding: 50px 20px;
        .skills__flex-box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            .flex-box__speak{
                width: 80%;
                height: 100%;
                padding: 15px;
                margin-bottom: 20px;
                background-color: $mainColor;
                box-shadow: 0 0 10px $accordingColor;
                .sub--title1{
                    margin-bottom: 30px;
                }
                border-radius: 20px;
                p{
                    font-family: 'roboto-regular';
                    font-size: 0.9rem;
                }
                .progress-bar-container{
                    width: 100%;
                    height: auto;
                    // height: 7px;
                    margin: 10px 0;
                    background-color: $darkColor;
                    .progress-content{
                        // width:50%;
                        height: auto;
                        background-color: $decorationColor;
                    }
                }
            }
            .flex-box__tech-skills{
                width: 80%;
                padding: 15px;
                border-radius: 20px;
                background-color: $mainColor;
                box-shadow: 0 0 10px $accordingColor;
                .sub--title1{
                    margin-bottom: 30px;
                }
                .tech-skills__grid{
                    font-family: 'roboto-regular';
                    font-size: 1.11rem;
                    display: grid;
                    grid-template-columns: repeat(1,1fr);
                    gap: 10px;
                    .grid__skills-container{
                        padding: 15px;
                        border-top-left-radius: 20px;
                        border-top-right-radius: 20px;
                        background-color: $mainColor;
                        display: flex;
                        box-shadow: 0 0 10px $accordingColor;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .skills-container__round-container{
                            background-color: $mainColor;
                            box-shadow: 0 0 10px $accordingColor;
                            border-radius: 50%;
                            width: 90px;
                            height: 90px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 10px;
                            img{
                                width: 50px;
                                height: 50px;
                            }
                        }
                        .skills-container__description{
                            text-align: center;
                            color: $paragrapheTitleColor;
                            p{
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}