@font-face {
  src: url("../fonts/Pacifico-Regular.ttf");
  font-family: "pasifico-regular";
}
@font-face {
  src: url("../fonts/Roboto-Regular.ttf");
  font-family: "roboto-regular";
}
/*
    all title is in uppercase and others in lowercase
*/
.introduction {
  height: 100vh;
}
.introduction.introduction--style {
  background-image: url("../images/pc1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.introduction .main--title {
  position: relative;
  width: 39ch;
  left: 50%;
  top: 50%;
  padding: 0;
  transform: translate(-50%, -50%);
  animation: animation-type 4s steps(22) infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: solid 2px #333;
}

@media screen and (max-width: 390px) {
  .introduction .main--title {
    font-size: 70%;
    position: relative;
    width: 39ch;
    left: 50%;
    top: 50%;
    padding: 0;
    transform: translate(-50%, -50%);
    animation: animation-type 4s steps(22) infinite;
    overflow: hidden;
    white-space: nowrap;
    border-right: solid 2px #333;
  }
}
@keyframes animation-type {
  0% {
    width: 0ch;
  }
  100% {
    width: 41ch;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  color: #5382A1;
}

.hide-navbar {
  display: none;
}

.show-navbar {
  display: inherit;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 0 10px #333;
  position: fixed;
  z-index: 999;
}
.navbar .navbar__logo {
  font-family: "pasifico-regular";
  font-size: 1.5rem;
  text-decoration: none;
  padding-left: 10px;
  color: #5382A1;
}
.navbar .navbar__nav {
  display: block;
  float: right;
  position: relative;
  top: 15px;
}
.navbar .navbar__nav .nav__item {
  display: inline-block;
}
.navbar .navbar__nav .nav__item .item__link {
  text-decoration: none;
  display: block;
  font-weight: 900;
  font-family: "roboto-regular";
  font-size: 1rem;
  margin-right: 20px;
  color: #333;
}
.navbar .navbar__nav .nav__item .item__link:hover {
  color: #5382A1;
}
.navbar .fa {
  font-size: 1.7rem;
  cursor: pointer;
  display: none;
  position: absolute;
  padding-top: 10px;
  top: 10px;
  right: 0;
  margin-right: 10px;
}

@media screen and (max-width: 769px) {
  .navbar__nav1 {
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 50px;
    background-color: #fff;
  }
  .navbar__nav1 .nav__item1 .item__link1 {
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    color: #333;
    padding: 10px;
    font-weight: 900;
    font-family: "roboto-regular";
    font-size: 1rem;
    border-bottom: solid 1px #5382A1;
    transition: 1s;
  }
  .navbar__nav1 .nav__item1 .item__link1:hover {
    display: block;
    background-color: #eeeeec;
    color: #5382A1;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    width: 100vw;
    position: fixed;
    z-index: 999;
    padding-top: 10px;
  }
  .navbar .navbar__logo {
    font-family: "pasifico-regular";
    font-size: 1rem;
    color: #5382A1;
    text-decoration: none;
  }
  .navbar .navbar__nav {
    display: block;
    position: fixed;
    z-index: 998;
    top: 30px;
    visibility: hidden;
  }
  .navbar .navbar__nav .nav__item {
    display: block;
  }
  .navbar .navbar__nav .nav__item .item__link {
    text-decoration: none;
    display: block;
    color: #fff;
    font-weight: 900;
    font-family: "roboto-regular";
    font-size: 1rem;
    width: 100vw;
    background-color: #000;
    border-bottom: solid 1.5px #5382A1;
    padding: 1rem;
  }
  .navbar .navbar__nav .nav__item .item__link:hover {
    color: #5382A1;
  }
  .navbar .fa {
    font-size: 1rem;
    margin-top: -5px;
    margin-right: 20px;
    display: inherit;
  }
}
.round--container {
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.gray--color {
  background-color: #eeeeec;
}

.techno--position1 {
  position: relative;
  left: 0;
  top: 0%;
}

.techno--position2 {
  position: relative;
  top: -5%;
  right: -60%;
}

.techno--position3 {
  position: relative;
  top: 83%;
  right: -60%;
}

.techno--position4 {
  position: relative;
  top: 83%;
  right: 0;
}

.main--title {
  font-family: "roboto-regular";
  font-size: 2em;
  color: #333;
  padding: 40px 0;
  margin-bottom: 20px;
  text-align: center;
}

.all--techno .techno--container {
  position: absolute;
  z-index: -1;
  width: 90%;
  height: 90%;
}
.all--techno .techno--container .techno--rotate {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeec;
  width: 25%;
  height: 25%;
  transform: rotate(45deg);
  animation: no-rotation 3s infinite;
}
.all--techno .techno--container .techno--rotate img {
  width: 50px;
  height: 50px;
}
.all--techno .techno--container .techno--rotate::before, .all--techno .techno--container .techno--rotate::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 20%;
  background-color: #333;
}
.all--techno .techno--container .techno--rotate::before {
  transform: skew(45deg);
  bottom: -20%;
  left: 10%;
}
.all--techno .techno--container .techno--rotate::after {
  width: 20%;
  height: 105%;
  transform: skewY(45deg);
  top: 6%;
  left: 100%;
}

@keyframes rotate-tech {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg) scaleY(1.1);
  }
}
@keyframes no-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.about {
  background: -webkit-linear-gradient(45deg, #eeeeec 46%, #fff 0%);
}
.about .about__about-container {
  display: flex;
  padding: 80px 0 0px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 0 0 20px;
}
.about .about__about-container .about-container__text-container {
  width: 50%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 4px #eeeeec;
  padding: 0 10px;
}
.about .about__about-container .about-container__text-container .main--title {
  text-align: left;
  margin-left: 20px;
}
.about .about__about-container .about-container__text-container .text-container {
  padding: 0 20px;
  font-family: "roboto-regular";
  font-size: 1.05em;
}
.about .about__about-container .about-container__text-container .text-container .cv--button {
  display: block;
  background-color: #eeeeec;
  color: #333;
  border: solid 2px #5382A1;
  width: 150px;
  margin: 50px 0;
  text-align: center;
  padding: 0 10px;
  text-decoration: none;
  border-radius: 20px;
  transition: 0.3s linear;
}
.about .about__about-container .about-container__text-container .text-container .cv--button:hover {
  box-shadow: 0 0 10px #5382A1;
}
.about .about__about-container .about-container__text-container .text-container p a {
  color: #5382A1;
}
.about .about__about-container .about-container__text-container .text-container p strong {
  font-weight: inherit;
  color: #5382A1;
}
.about .about__about-container .about-container__image {
  position: relative;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
}
.about .about__about-container .about-container__image .image--logo-around {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 50px #eeeeec;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  animation: rotate-tech 10s infinite;
}
.about .about__about-container .about-container__image .image--logo-around .image__container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 0 0 50px #eeeeec;
  animation: no-rotation 10s infinite;
  overflow: hidden;
}
.about .about__about-container .about-container__image .image--logo-around .image__container img {
  width: 150px;
  height: auto;
  object-fit: cover;
}
.about .about__about-container .about-container__image blockquote {
  margin-top: 100px;
  font-family: "roboto-regular";
  font-size: 1em;
  color: #333;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .round--container {
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }

  .gray--color {
    background-color: #eeeeec;
  }

  .techno--position1 {
    position: relative;
    left: 0;
    top: 0;
  }

  .techno--position2 {
    position: relative;
    top: 0%;
    right: -25%;
  }

  .techno--position3 {
    position: relative;
    top: 80%;
    right: 55%;
  }

  .techno--position4 {
    position: relative;
    top: 80%;
    left: 80%;
  }

  .main--title {
    font-family: "roboto-regular";
    font-size: 1rem;
  }

  .all--techno .techno--container {
    position: absolute;
    z-index: -1;
    width: 40%;
    height: 40%;
  }
  .all--techno .techno--container .techno--rotate {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeec;
    width: 40%;
    height: 40%;
    transform: rotate(45deg);
    animation: no-rotation 3s infinite;
  }
  .all--techno .techno--container .techno--rotate img {
    width: 30px;
    height: 30px;
  }
  .all--techno .techno--container .techno--rotate::before, .all--techno .techno--container .techno--rotate::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 20%;
    background-color: #333;
  }
  .all--techno .techno--container .techno--rotate::before {
    transform: skew(45deg);
    bottom: -20%;
    left: 10%;
  }
  .all--techno .techno--container .techno--rotate::after {
    width: 20%;
    height: 105%;
    transform: skewY(45deg);
    top: 6%;
    left: 100%;
  }

  @keyframes rotate-tech {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg) scaleY(1.1);
    }
  }
  @keyframes no-rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  .about .about__about-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 80px 0 0px;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    margin: 0;
  }
  .about .about__about-container .about-container__text-container {
    width: 90%;
    border-radius: 20px;
    box-shadow: 0 0 4px #eeeeec;
  }
  .about .about__about-container .about-container__text-container .text-container {
    font-family: "roboto-regular";
    font-size: 0.7em;
  }
  .about .about__about-container .about-container__text-container .text-container .cv--button {
    display: block;
    width: 100px;
    color: #333;
    margin: 50px 0;
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
    border-radius: 20px;
    border: solid 1px #5382A1;
    transition: 0.3s linear;
  }
  .about .about__about-container .about-container__text-container .text-container .cv--button:hover {
    box-shadow: 0 0 10px #5382A1;
  }
  .about .about__about-container .about-container__text-container .text-container p a {
    text-decoration: none;
    color: #5382A1;
  }
  .about .about__about-container .about-container__text-container .text-container p strong {
    color: #5382A1;
  }
  .about .about__about-container .about-container__image {
    position: relative;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about .about__about-container .about-container__image .image--logo-around {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px #eeeeec;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    animation: rotate-tech 10s infinite;
  }
  .about .about__about-container .about-container__image .image--logo-around .image__container {
    width: 200px;
    height: 200px;
    display: flex;
    border-radius: 100%;
    box-shadow: 0 0 50px #eeeeec;
    animation: no-rotation 10s infinite;
    overflow: hidden;
  }
  .about .about__about-container .about-container__image .image--logo-around .image__container img {
    width: 100px;
    height: auto;
    object-fit: cover;
  }
  .about .about__about-container .about-container__image blockquote {
    margin-top: 100px;
    font-family: "roboto-regular";
    font-size: 1em;
    text-align: center;
  }
}
.sub--title1 {
  font-family: "roboto-regular";
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  margin: 20px;
}

.sub--title2 {
  font-family: "roboto-regular";
  font-size: 1.4rem;
  text-align: center;
  color: #333;
  margin: 20px;
}

.skills {
  background: -webkit-linear-gradient(45deg, #fff 46%, #eeeeec 0%);
  padding: 20px 100px 70px;
}
.skills .skills__flex-box {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.skills .skills__flex-box .flex-box__speak {
  width: 50%;
  height: 100%;
  padding: 15px;
  margin-right: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px #eeeeec;
  border-radius: 20px;
}
.skills .skills__flex-box .flex-box__speak .sub--title1 {
  margin-bottom: 30px;
}
.skills .skills__flex-box .flex-box__speak p {
  font-family: "roboto-regular";
  font-size: 1rem;
}
.skills .skills__flex-box .flex-box__speak .progress-bar-container {
  width: 100%;
  height: auto;
  margin: 10px 0;
  background-color: #333;
  border-radius: 20px;
  transition: 30s;
}
.skills .skills__flex-box .flex-box__speak .progress-bar-container .progress-content {
  display: flex;
  justify-content: center;
  font-family: "roboto-regular";
  background-color: #5382A1;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 20px;
  width: 50%;
  height: auto;
}
.skills .skills__flex-box .flex-box__tech-skills {
  width: 50%;
  padding: 15px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px #eeeeec;
}
.skills .skills__flex-box .flex-box__tech-skills .sub--title1 {
  margin-bottom: 30px;
}
.skills .skills__flex-box .flex-box__tech-skills .tech-skills__grid {
  font-family: "roboto-regular";
  font-size: 1.11rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.skills .skills__flex-box .flex-box__tech-skills .tech-skills__grid .grid__skills-container {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #fff;
  display: flex;
  box-shadow: 0 0 10px #eeeeec;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skills .skills__flex-box .flex-box__tech-skills .tech-skills__grid .grid__skills-container .skills-container__round-container {
  background-color: #eeeeec;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.skills .skills__flex-box .flex-box__tech-skills .tech-skills__grid .grid__skills-container .skills-container__round-container img {
  width: 100px;
  height: 100px;
}
.skills .skills__flex-box .flex-box__tech-skills .tech-skills__grid .grid__skills-container .skills-container__description {
  text-align: center;
  color: #333;
}
.skills .skills__flex-box .flex-box__tech-skills .tech-skills__grid .grid__skills-container .skills-container__description p {
  margin-bottom: 10px;
}

@media screen and (max-width: 934px) {
  .sub--title1 {
    font-size: 1rem;
  }

  .skills {
    padding: 50px 20px;
  }
  .skills .skills__flex-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .skills .skills__flex-box .flex-box__speak {
    width: 80%;
    height: 100%;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px #eeeeec;
    border-radius: 20px;
  }
  .skills .skills__flex-box .flex-box__speak .sub--title1 {
    margin-bottom: 30px;
  }
  .skills .skills__flex-box .flex-box__speak p {
    font-family: "roboto-regular";
    font-size: 0.9rem;
  }
  .skills .skills__flex-box .flex-box__speak .progress-bar-container {
    width: 100%;
    height: auto;
    margin: 10px 0;
    background-color: #000;
  }
  .skills .skills__flex-box .flex-box__speak .progress-bar-container .progress-content {
    height: auto;
    background-color: #5382A1;
  }
  .skills .skills__flex-box .flex-box__tech-skills {
    width: 80%;
    padding: 15px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px #eeeeec;
  }
  .skills .skills__flex-box .flex-box__tech-skills .sub--title1 {
    margin-bottom: 30px;
  }
  .skills .skills__flex-box .flex-box__tech-skills .tech-skills__grid {
    font-family: "roboto-regular";
    font-size: 1.11rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .skills .skills__flex-box .flex-box__tech-skills .tech-skills__grid .grid__skills-container {
    padding: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #fff;
    display: flex;
    box-shadow: 0 0 10px #eeeeec;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .skills .skills__flex-box .flex-box__tech-skills .tech-skills__grid .grid__skills-container .skills-container__round-container {
    background-color: #fff;
    box-shadow: 0 0 10px #eeeeec;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .skills .skills__flex-box .flex-box__tech-skills .tech-skills__grid .grid__skills-container .skills-container__round-container img {
    width: 50px;
    height: 50px;
  }
  .skills .skills__flex-box .flex-box__tech-skills .tech-skills__grid .grid__skills-container .skills-container__description {
    text-align: center;
    color: #333;
  }
  .skills .skills__flex-box .flex-box__tech-skills .tech-skills__grid .grid__skills-container .skills-container__description p {
    margin-bottom: 10px;
  }
}
.projects {
  font-family: "roboto-regular";
  background: -webkit-linear-gradient(45deg, #eeeeec 46%, #fff 0%);
  padding: 0 20px 20px;
}
.projects .projects__flex-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.projects .projects__flex-box .flex-box__project-container {
  width: 24%;
  height: auto;
  background-color: #fff;
  padding: 0 0 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px #eeeeec;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 1s;
  overflow: hidden;
}
.projects .projects__flex-box .flex-box__project-container .project-container__description {
  font-family: "roboto-regular";
  font-size: 1rem;
  height: 100%;
  padding: 0 20px;
}
.projects .projects__flex-box .flex-box__project-container img {
  width: 100%;
  height: auto;
}
.projects .projects__flex-box .flex-box__project-container:hover {
  transform: scale(1.04);
}

@media screen and (max-width: 1115px) {
  .projects {
    font-family: "roboto-regular";
    background: -webkit-linear-gradient(45deg, #eeeeec 46%, #fff 0%);
    padding: 0 20px 20px;
    font-size: 100%;
  }
  .projects .projects__flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .projects .projects__flex-box .flex-box__project-container {
    width: 40%;
    background-color: #fff;
    padding: 0 0 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #eeeeec;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .projects .projects__flex-box .flex-box__project-container .project-container__description {
    width: 100%;
    font-family: "roboto-regular";
    font-size: 100%;
    color: #333;
    padding: 0 20px;
  }
  .projects .projects__flex-box .flex-box__project-container img {
    width: 100%;
    height: auto;
  }
}
.go-up {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.go-up a {
  position: relative;
  right: 25px;
  bottom: 50px;
  background-color: #eeeeec;
  border-radius: 20px;
  box-shadow: 0 0 4px #5382A1;
  animation: go-up 1s infinite;
}
.go-up a img {
  width: 50px;
  height: 50px;
}

.contacts__mail-frame {
  border: solid 1px;
  width: 30%;
  padding: 30px;
  background-color: #eeeeec;
}

@keyframes go-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.contacts {
  background: -webkit-linear-gradient(45deg, #fff 46%, #eeeeec 0%);
}
.contacts .main--title {
  margin-bottom: -100px;
}
.contacts .contacts__contacts {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacts .contacts__contacts .contacts__flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts .contacts__contacts .contacts__flex-container .flex-container__phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "roboto-regular";
}
.contacts .contacts__contacts .contacts__flex-container .flex-container__phone #tel {
  margin-top: 22px;
}
.contacts .contacts__contacts .contacts__flex-container .flex-container__phone a {
  text-decoration: none;
  color: #5382A1;
}
.contacts .contacts__contacts .contacts__flex-container .flex-container__phone .my-contacts__phone-container {
  position: relative;
  background-color: #5382A1;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts .contacts__contacts .contacts__flex-container .flex-container__phone .my-contacts__phone-container::before,
.contacts .contacts__contacts .contacts__flex-container .flex-container__phone .my-contacts__phone-container::after {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 2px #5382A1;
  opacity: 0;
  animation: pulse 1.5s linear infinite;
}
.contacts .contacts__contacts .contacts__flex-container .flex-container__phone .my-contacts__phone-container::after {
  animation-delay: 0.5s;
}
.contacts .contacts__contacts .contacts__flex-container .my-contacts__gmail {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 50px;
}
.contacts .contacts__contacts .contacts__flex-container .my-contacts__gmail img {
  width: 100px;
  height: 100px;
}
.contacts .contacts__contacts .contacts__flex-container .my-contacts__gmail a {
  margin-top: -5px;
  text-decoration: none;
  color: #5382A1;
}
.contacts .contacts__contacts .contacts__flex-container .my-contacts__github {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 50px;
}
.contacts .contacts__contacts .contacts__flex-container .my-contacts__github img {
  width: 90px;
  height: 90px;
}
.contacts .contacts__contacts .contacts__flex-container .my-contacts__github a {
  text-decoration: none;
  color: #5382A1;
}
.contacts .contacts__contacts .contacts__flex-container .my-contacts__linkedin {
  width: 120px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacts .contacts__contacts .contacts__flex-container .my-contacts__linkedin img {
  width: 80px;
  height: 80px;
}
.contacts .contacts__contacts .contacts__flex-container .my-contacts__linkedin a {
  margin-top: 5px;
  text-decoration: none;
  color: #5382A1;
}

.copy-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: "roboto-regular";
  padding: 0 0 10px;
}
.copy-right img {
  width: 30px;
  height: 30px;
}
.copy-right p {
  font-family: "roboto-regular";
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
@keyframes socialnetwork-animation {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@media screen and (max-width: 750px) {
  .contacts__flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
