@font-face {
    font-family: 'roboto-regular';
    src: url(/fonts/Roboto-Regular.ttf);
}

@font-face{
    font-family: 'roboto-bold';
    src: url(/fonts/Roboto-Bold.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//header start
//color's variables
$color-introduction : rgb(255, 255, 255);
$color-container-image: rgba(245, 245, 245, 0.548);
$color-red-varuis-one: rgb(255, 0, 55);
$color-cite:rgba(34, 69, 73, 0.452);

//backgrounds
$background-image-introduction : url(../images/pc1.jpg);

//padding's variables
$padding-five-px:5px;
$padding-ten-px:10px;
$padding-twenty-px:20px;

//margin's variables
$margin-ten-px : 10px;
$margin-twenty-px:20px;

header{
    .introduction {
        height: 100vh;
    
        &.introduction--style {
            background-color: $color-introduction;
            background: $background-image-introduction;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
    
        .introduction__glowing {
            min-width: 750px;
            height: 750px;
    
            &.glowing--style {
                position: relative;
                margin: -150px;
                transform-origin: right;
                animation: colorChange 5s linear infinite;
            }

            &.glowing--style:nth-child(even){
                transform-origin: left;
            }
    
            span {
                position: absolute;
                top: calc(80px * var(--i));
                right: calc(80px * var(--i));
                bottom: calc(80px * var(--i));
                left: calc(80px * var(--i));
            }
    
            span::before {
                content: '';
                position: absolute;
                top: 50%;
                left: -8px;
                width: 15px;
                height: 15px;
                background: #f00;
                border-radius: 100%;
            }
    
            span:nth-child(3n +1):before {
                content: '';
                background: rgba(134, 255, 0, 1);
                box-shadow: 0 0 20px rgba(134, 255, 0, 1),
                    0 0 40px rgba(134, 255, 0, 1),
                    0 0 60px rgba(134, 255, 0, 1),
                    0 0 80px rgba(134, 255, 0, 1),
                    0 0 0 8px rgba(134, 255, 0, 0.1);
            }
    
            span:nth-child(3n +2):before {
                content: '';
                background: rgba(255, 214, 0, 1);
                box-shadow: 0 0 20px rgba(255, 214, 0, 1),
                    0 0 40px rgba(255, 214, 0, 1),
                    0 0 60px rgba(255, 214, 0, 1),
                    0 0 80px rgba(255, 214, 0, 1),
                    0 0 0 8px rgba(255, 214, 0, 0.1);
            }
    
            span:nth-child(3n +3):before {
                content: '';
                background: rgba(0, 226, 255, 1);
                box-shadow: 0 0 20px rgba(0, 226, 255, 1),
                    0 0 40px rgba(0, 226, 255, 1),
                    0 0 60px rgba(0, 226, 255, 1),
                    0 0 80px rgba(0, 226, 255, 1),
                    0 0 0 8px rgba(0, 226, 255, 0.1);
            }
    
            span:nth-child(3n +1) {
                animation: rotate360 10s alternate infinite;
            }
    
            span:nth-child(3n +2) {
                animation: rotate360-reverse 3s alternate infinite;
            }
    
            span:nth-child(3n +3) {
                animation: rotate360 8s alternate infinite;
            }
        }
    
        .introduction__profile {
            width: 30%;
            max-height: 50%;
    
            &.profile--style {
                position: absolute;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                padding: $padding-twenty-px;
                background-color: $color-container-image;
            }
    
            .profile__image-container {
                display: flex;
    
                &.image-container--style {
                    background-color: transparent;
                    justify-content: center;
                    align-items: center;
                }
    
                .profile__round-image {
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                    box-shadow: 0 0 10px #000;
    
                    &.round-image--style {
                        margin-bottom: 5px;
                        border-radius: 50%;
                    }
                }
            } 
    
            .introduction_title {
                font-size: 1.5em;
                font-family: 'roboto-bold';
                text-align: center;
                color: #5a5a5a;
    
                span {
                    color: #e8566a;
                }
            }

            blockquote{
                margin: $margin-ten-px;
                color: $color-cite;
                text-align: center;
            }
        }
    }
}

//KeyFrames for animations

@keyframes rotate360 {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes rotate360-reverse {
    0% {
        transform: rotate(360deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

@keyframes colorChange{
    0%{
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
        transform: rotate(360deg);
    }
}

//header end